label.Chargily:before, label:after {
	right: 29px;
}

a.chlogo {
	padding-right: 10px;
}

img.edahabiaCardImage {
	margin-right: auto;
	margin-left: inherit;
}

img.cibCardImage {
	margin-right: auto;
	margin-left: inherit;
}
